@using MoneyExchangeWebApp.Models
@model Account

<form method="post"
      asp-controller="Account"
      asp-action="AccountDetails">

   <div class="border p-3 mt-4">
      <div class="row pb-2">
         <h2 class="text-primary">Edit Staff User</h2>
      </div>
      <hr />

   <input type="text" asp-for="AccountId" hidden />

      <div class="form-floating mb-3">
      <input type="email" class="form-control" place-holder="Email Address" asp-for="EmailAddress">
      <label asp-for="EmailAddress">Email</label>
      <span asp-validation-for="EmailAddress" class="text-danger"></span>
   </div>


   <div class="row g-2 mb-3">
     <div class="col-md">
       <div class="form-floating">
        <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
        <label asp-for="FirstName">First Name</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
     </div>
     <div class="col-md">
       <div class="form-floating">
         <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
         <label asp-for="LastName">Last Name</label>
         <span asp-validation-for="LastName" class="text-danger"></span>
       </div>
     </div>
   </div>

   <div class="form-floating mb-3">
       <input type="text" class="form-control" placeholder="Address" asp-for="Address">
       <label asp-for="Address">Address</label>
       <span asp-validation-for="Address" class="text-danger"></span>
   </div>

   <div class="row g-2 mb-3">
     <div class="col-md">
       <div class="form-floating">
        <input type="text" class="form-control" placeholder="PhoneNumber" asp-for="PhoneNumber">
        <label asp-for="PhoneNumber">Phone Number</label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
      </div>
     </div>
     <div class="col-md">
       <div class="form-floating">
        <input type="text" class="form-control" placeholder="Gender" asp-for="Gender">
        <label asp-for="Gender">Gender</label>
        <span asp-validation-for="Gender" class="text-danger"></span>

         @*<select class="form-select" asp-for="Gender">  //change to text
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Unspecified">Unspecified</option>
      </select>
      <label asp-for="Gender">Gender</label>
      <span asp-validation-for="Gender" class="text-danger"></span>*@
       </div>
     </div>
   </div>

   <div class="form-floating mb-3">
       <input type="date" class="form-control" asp-for="DOB">
       <label asp-for="DOB">Date Of Birth</label>
       <span asp-validation-for="DOB" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="text" class="form-control" asp-for="Role">
       <label asp-for="Role">Role</label>
       <span asp-validation-for="Role" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="date" class="form-control" asp-for="DateCreated">
       <label asp-for="DateCreated">Date Created</label>
       <span asp-validation-for="DateCreated" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="text" class="form-control" asp-for="EditedBy">
       <label asp-for="EditedBy">Edited By</label>
       <span asp-validation-for="EditedBy" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="date" class="form-control" asp-for="DateEdited">
       <label asp-for="DateEdited">Date Edited</label>
       <span asp-validation-for="DateEdited" class="text-danger"></span>
   </div>


   <div class="btn-group col-sm-12 ">
   <a asp-action="AccountIndex" class="btn btn-outline-primary mx-2">Back to Index</a>
   <input type="submit" value="Edit" class="btn btn-outline-secondary mx-2"/>
   </div>

   <div class="btn-group col-sm-12 ">
   <a asp-action="PastTransactions" class="btn btn-outline-primary mx-2">Past Transactions</a>
   <input type="submit" value="View" class="btn btn-outline-secondary mx-2"/>
   </div>

</div>

   @if (ViewData["Message"] != null)
   {
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-6">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }
</form>
