@model Account


<form method="post"
      asp-controller="Account"
      asp-action ="AddUsers"
      enctype="multipart/form-data">

   <div class="border p-3 mt-4">
      <div class="row pb-2">
         <h2 class="text-primary">Add a Staff member</h2>
      </div>
      <hr />

   <div class="form-floating mb-3">
      <input type="text" class="form-control" id="UsernameInput" placeholder=" john123@moneyexchanger.com" asp-for="EmailAddress">
      <label for="UsernameInput"> Email Address</label>
      <span asp-validation-for="EmailAddress" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
       <label for="floatingPassword">Password</label>
       <span asp-validation-for="Password" class="text-danger"></span>
   </div>

   <div class=" row g-2 mb-3">
     <div class="col-md">
       <div class="form-floating">
        <input type="text" class="form-control" id="floatingFirstNameGrid" placeholder="First Name" asp-for="FirstName">
        <label for="floatingFirstNameGrid">First Name</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
     </div>
     <div class="col-md">
       <div class="form-floating">
         <input type="text" class="form-control" id="floatingLastNameGrid" placeholder="Last Name" asp-for="LastName">
         <label for="floatingLastNameGrid">Last Name</label>
         <span asp-validation-for="LastName" class="text-danger"></span>
       </div>
     </div>
   </div>

   <div class="form-floating mb-3">
       <input type="text" class="form-control" id="floatingAddress" placeholder="Address" asp-for="Address">
       <label for="floatingAddress">Address</label>
       <span asp-validation-for="Address" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="text" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number" asp-for="PhoneNumber">
       <label for="floatingPhoneNumber">Phone Number</label>
       <span asp-validation-for="PhoneNumber" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
      <select class="form-select" id="floatingSelectGender" asp-for="Gender">
        <option selected>Open this select menu</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Unspecified">Unspecified</option>
      </select>
      <label for="floatingSelectGender">Select a gender</label>
      <span asp-validation-for="Gender" class="text-danger"></span>
   </div>

   <div class="form-floating mb-3">
       <input type="date" class="form-control" id="Dob" placeholder="Date of Birth" asp-for="DOB">
       <label for="Dob"> Date of Birth </label>
       <span asp-validation-for="DOB" class="text-danger"></span>
   </div>

   <input asp-for="DateCreated" value=@DateTime.Now.ToShortDateString() hidden />
   <input asp-for="Deleted" value=0 hidden />
   <input asp-for="DeletedBy" value=@null hidden/>
   <input asp-for="DateDeleted" value=@null hidden/>

   <div class="form-group row">
      <div class="d-grid col-12 ms-auto">
         <input type="submit" value="Add User" class="btn-lg btn-outline-primary" />
      </div>
   </div>

@*   <div class="form-group row">
      <div class="offset-sm-2 col-sm-6">
         <div asp-validation-summary="All" class="text-danger"></div>
      </div>
   </div>*@

   @if (ViewData["Message"] != null)
   {
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-6">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }
</div>
</form>
