@model ResetPassword

@if (TempData["Message"] != null)
{
<div class="alert alert-@TempData["MsgType"]">
@TempData["Message"]
</div>
}
<form method="post" asp-controller="Account" asp-action="ResetPassword">

<div class="form-floating mb-3">
  <input type="email" asp-for="Email" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Email</label>
  <span asp-validation-for="Email" class="text-danger"> </span>
</div>
<div class="form-floating mb-3">
  <input type="password" asp-for="Password" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Password: </label>
  <span asp-validation-for="Password" class="text-danger"> </span>
</div>
<div class="form-floating mb-3">
  <input type="password" asp-for="ConfirmPassword "class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Confirm Password: </label>
  <span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
</div>


<button type="submit" class="btn btn-primary">Submit</button>
</form>

