<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Delete users</title>
</head>
<body>
    <div>&nbsp;</div>

    <div class="container">

        <form id="feedback" method="post" action="/Signup/SuccessDelete" >
        
        <h2>Delete Users</h2>
        <div class="form-group">
            <label for="account_id" class="control-label">Account ID: </label>
            <input type="text" id="account_id" name="AccountID" />
        </div>
        
        <div class="form-group">
            <input type="submit" id="submit" value="Delete" />
        </div>
    </form>
    </div>
</body>
</html>