<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Money Currency Exchange - Log In </title>

    <style>
        #feedback label {
            color: black;
            float: left;
            width: 100px;
            text-align: right;
            margin-right: 5px;
            
        }


        html {
            font-family: sans-serif;
        }

        .form-group {
            padding: 10px;
        }

        .control-label {
            float: left;
            width: 250px;
            text-align: right;
            margin-right: 10px;
        }

        #username, #password {
            width: 150px;
            background-color: lightpink;
        }

        #submit {
            margin-left: 105px;
        }

        h2 {
            margin-left: 116px;
            color: black;
            font-size: 1.2em;
            font-weight: bold;
        }


        body {
            background-image:url("/images/dog.jpg")
        }
    </style>
</head>
<body>
    

    <form id="feedback" method="post" action="/Signup/Thanks" >
        
        <h2> Welcome </h2>
        <div class="form-group">
            <label for="username" class="control-label">Username: </label>
            <input type="text" id="username" name="Username" />
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password: </label>
            <input type="text" id="password" name="Password" />
        </div>
        <div class="form-group">
            <input type="submit" id="submit" value="Log In" />
        </div>
    </form>
</body>
</html>