<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Success </title>
</head>
<body>
    <h1>You have successfully added the user.</h1>

<a href="~/Signup/Logout">Log out</a>
<a href="~/Signup/Login"> Back to previous page </a>
</body>
</html>