<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Log </title>

    <style>
        body {
            background-image: url("/images/switzerland.jpg")
        }
    </style>
</head>
<body>
    <h1> Hi @ViewData["Username"],</h1>
    <p> you have successfully logged in.</p>

<a href="~/Signup/Logout">Log out</a>
<a href="~/Signup/Login"> Back to previous page </a>
</body>
</html>