################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C300FYPDatabase.ldf
/C300FYPDatabase.mdf
