@using FYP.Models;
@model List<Transaction>

    <div class="container py-sm-5">
            <header class="text-center text-black">
                <h1 class="display-4"><b>Transactions</b></h1>
            </header>
            <div class="row py-5">
                <div class="col-sm-5 mx-auto">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-sm-6 bg-white rounded">
                            <div class="table-responsive">
                                <table class="table table-hover table-responsive" style="text-align:left">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Source</th>
                                            <th>Source Amount</th>
                                            <th>To</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (Transaction item in Model)
                                        {
                                            <tr>
                                                <td>@item.Source_currency</td>
                                                <td>@item.Source_amount</td>
                                                <td>@item.Converted_currency</td>
                                                <td>@item.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
