@model Stock
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Stocks Owned</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Wallet" asp-action="AddaCurrency" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddCurrencyModal">
                <i class="bi bi-plus-circle"></i> &nbsp; Add a Currency
            </a>
        </div>
    </div>
    <br /><br />

    <div class="row py-2">
        <div class="col-sm-12 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-sm-10 bg-white rounded">
                    <div class="table-responsive">
                        <table id="AWalltbl" class="table table-hover table-responsive" style="width:100%; font-size: 15px;">
                            <thead>
                                <tr>
                                    <th>ISO</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
            <div class="alert alert-@ViewData["MsgType"]">
                <text>@ViewData["Message"]</text>
            </div>
        </div>
    </div>
}

<partial name="AddaCurrency" />

@section Scripts{
<script src="~/js/DatatablesJS/OwnerWallet.js"></script>
}

