.custom_nav {
    font-size: small;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.3);
}

    .custom_nav ul.dropdown-menu {
        font-size: small;
    }

.custom-divider {
    height: 5px;
    background: rgb(255,145,0);
    background: linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(9,9,121,1) 15%, rgba(153,7,128,1) 39%, rgba(5,107,186,1) 59%, rgba(26,221,3,1) 79%, rgba(0,212,255,1) 100%);
}

.main-banner {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(../images/Worldmap5.svg);
    background-size: cover;
    color: black;
}

.feature-holder {
    text-align: center;
    margin-bottom: 25px;
}

section.features {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: whitesmoke;
}

.feature-holder h3 {
    font-size: 1.2em;
}

.feature-holder p {
    font-size: 14px;
}

section.exchange-rates, .enquiry, .FAQ-slider, .page-content {
    padding-top: 35px;
    padding-bottom: 35px;
}

.exchange-rates-text-widget, .enquiries-text, .FAQ-text-widget {
    text-align: center;
}

    .exchange-rates-text-widget h2, .enquiries-text h2 {
        font-size: 1.3em;
    }

    .exchange-rates-text-widget p, .enquiries-text p, .FAQ-text-widget p {
        font-size: 14px;
    }

.exchange-rates-card, .FAQ-text-widget {
    text-align: center;
    margin-bottom: 25px;
}

    .exchange-rates-card .card-title {
        font-size: 1em;
        line-height: 20px;
    }

.card.online-course-card .card-text {
    font-size: 14px;
}

.classroom-training, .page-content {
    background-color: whitesmoke;
}

section.calculate {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: whitesmoke;
}

section.enquiry {
    background-color: whitesmoke;
    padding-top: 35px;
    padding-bottom: 35px;
}

.FAQ-slider {
    background-color: white;
}

#FAQ_slider_content li .card {
    text-align: center;
}

    #FAQ_slider_content li .card img {
        width: 50px;
        margin-bottom: 15px;
    }

    #FAQ_slider_content li .card .card-title {
        font-size: 18px;
        font-weight: bold;
    }

    #FAQ_slider_content li .card .card-text {
        font-size: 14px;
    }

footer.main-footer {
    background-color: #292929;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

aside.footer-widget {
    margin-bottom: 25px;
}

    aside.footer-widget h5 {
        font-size: 16px;
    }

    aside.footer-widget ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

        aside.footer-widget ul li a {
            text-decoration: none;
            font-size: 14px;
            color: #adadad;
            display: inline-block;
            margin-bottom: 5px;
        }

address h2 {
    font-size: 20px;
}

address p {
    font-size: 14px;
}

section.copy {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
}

    section.copy p {
        margin: 0px;
    }

.google-map {
    padding-top: 56px;
}
