@model MoneyExchangeWebApp.Models.ConvTransaction;
        @{
            var currList = DBUtl.GetList("SELECT QuoteCurrency FROM ExchangeRates ORDER BY QuoteCurrency");
            ViewData["CurrencyList"] = new SelectList(currList, "QuoteCurrency", "QuoteCurrency");
        }

      <div class="container-fluid">
            <form action="" class="border border-dark p-3 mt-5">
              <h1>Create Currency Transaction</h1>
              <br>
              <div class="row g-2 mb-3">
                <div class="col-md col-sm">
                    <div class="form-floating form-floating-sm">
                         <select class="form-control col-sm-3" id="BaseCurrencyLabel" asp-items="@((SelectList)ViewData["CurrencyList"])">
                            <option value="0" selected="selected"> -- SELECT --</option>
                        </select>
                        <label for="BaseCurrencyLabel">Base Currency</label>
                    </div>
                </div>
                <div class="col-md col-sm">
                    <div class="form-floating form-floating-sm">
                        <input type="number" class="form-control" id="BaseValue" placeholder="100.00">
                        <label for="BaseValue">Base Value</label>
                    </div>
                </div>
             </div>

             <div class="row g-2">
                 <div class="col-md col-sm">
                     <div class="form-floating form-floating-sm">
                         <select class="form-control col-sm-3" id="QuoteCurrencyLabel" asp-items="@((SelectList)ViewData["CurrencyList"])">
                            <option value="0" selected="selected"> -- SELECT --</option>
                        </select>
                        <label for="QuoteCurrencyLabel">Quote Currency</label>
                        </div>
                    </div>
                    <div class="col-md col-sm">
                        <div class="form-floating form-floating-sm">
                            <input type="number" class="form-control text-white" id="QuoteValue" placeholder="100.00" value="1000"readonly style="background-color: rgb(196, 158, 158);">
                            <label for="QuoteValue">Quote Value</label>
                            <p class="text-muted" style="font-size: 12px;">Will be automatically populated once the input fields are selected</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                   <div class="col-md col-sm">
                       <div class="form-floating form-floating-sm">
                           <input type="number" class="form-control text-white" id="ExchangeRate" readonly style="background-color: rgb(196, 158, 158);">
                           <label for="ExchangeRate">Exchange Rate</label>
                           <p class="text-muted" style="font-size: 12px;">enter base currency, quote currency and base amount for exchange rate to appear</p>
                       </div>
                   </div>
               </div>
               <div class="row g-2">
                    <div class="col-md col-sm">
                        <div class="form-floating form-floating-sm">
                            <input type="datetime" class="form-control text-white" id="DateTime" value="@DateTime.Now" style="background-color: rgb(196, 158, 158);">
                            <label for="DateTime">Date</label>
                            <p class="text-muted" style="font-size: 12px;">Cannot be changed</p>
                        </div>
                    </div>
                    <div class="col-md col-sm">
                       <div class="form-floating form-floating-sm">
                           <input type="text" class="form-control text-white" id="UserIdentity" value=@User.Identity.Name  readonly style="background-color: rgb(196, 158, 158);">
                           <label for="UserIdentity">Doneby</label>
                           <p class="text-muted" style="font-size: 12px;">Person who is creating the transaction</p>
                       </div>
                   </div>
               </div>
               <div class="btn-group col-sm-12 ">
                <a asp-action="ConvTransactionIndex" class="btn btn-outline-secondary mx-2">Back to Index</a>
                <input type="submit" value="Create Transaction" class="btn btn-primary mx-2"/>
              </div>
            </form>
      </div>

   @if (ViewData["Message"] != null)
   {
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-6">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }
