@using MoneyExchangeWebApp.Models;
@model List<ExchangeRates>;

<div class="container py-sm-5">
    <header class="text-center text-black">
        <h1 class="display-4"><b>Exchange Rates (in SGD)</b></h1>
        @if (ViewData["DatabaseUpdateError"] != null)
        {
            <div class="alert alert-danger">
                <text>@ViewData["DatabaseUpdateError"]</text>
            </div>
        }
    </header>
    <div class="row py-5">
        <div class="col-sm-6 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-sm-6 bg-white rounded">
                    <div class="table-responsive">
                        <table id="EXtbl" class="table table-hover table-responsive" style="text-align:left">
                            <thead>
                                <tr>
                                    <th>Base Currency</th>
                                    <th>Quote Currency</th>
                                    <th>Rates (SGD$1)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @if (ViewData["Currencies"] != null)
    {
        <p>@ViewData["Currencies"]</p>
        <h5>@ViewData["DT"]</h5>
    }
</div>

    @section Scripts{
    <script src="~/js/ExchangeRates.js"></script>
}


