 @using MoneyExchangeWebApp.Models;
 @model List<ExchangeRates>
 @{
    string sql1 = @"SELECT * FROM Enquiries WHERE Status='Pending'";
    List<Enquiry> Elist = DBUtl.GetList<Enquiry>(sql1);
    if (Elist.Count == 0)
    {
        ViewData["pending"] = 0;
    }
    else
    {
        ViewData["pending"] = Elist.Count;
    }


    if (User.IsInRole("admin") || User.IsInRole("staff"))
    {
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-3 col-md-3 mb-3">
                    <div class="list-group small">
                        <div class="list-group-item"><h6 class="display-6">Things to Do!</h6></div>
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <a asp-controller="Account" asp-action="AddAccount" class="list-group-item">Add an employee <i class="bi bi-people"></i></a>
                                <a asp-controller="Enquiry" asp-action="EnquiryIndex" class="list-group-item d-flex justify-content-between align-items-center">
                                    Pending enquiries
                                    <span class="badge bg-danger rounded-pill">@ViewData["pending"]</span>
                                </a>
                                <a asp-controller="Report" asp-action="TradesDashboard" class="list-group-item">Discover top 5 currencies traded by month <i class="bi bi-file-earmark-text"></i></a>
                                <a asp-controller="Report" asp-action="DaysDashboard" class="list-group-item">Discover top 5 currency trade days in a month <i class="bi bi-file-earmark-text"></i></a>
                                <a asp-controller="Stock" asp-action="ShowWallet" class="list-group-item">Deposit/Withdraw <i class="bi bi-currency-exchange"></i></a>
                                <a asp-controller="ConvTransaction" asp-action="CreateConvTransaction" class="list-group-item">Record a currency trade <i class="bi bi-receipt"></i></a>
                            }
                            else
                            {
                                <a asp-controller="Enquiry" asp-action="EnquiryIndex" class="list-group-item d-flex justify-content-between align-items-center">
                                    Pending enquiries
                                    <span class="badge bg-danger rounded-pill">@ViewData["pending"]</span>
                                </a>
                                <a asp-controller="ConvTransaction" asp-action="CreateConvTransaction" class="list-group-item">Record a currency trade <i class="bi bi-receipt"></i></a>
                            }
                        }
                    </div>
                </div>
            </div>
            <br>
        </div>
    }
    else
    {
        <partial name="_GuestNav" />

        <!-- Banner -->
        <partial name="_Banner" />
        <!-- Banner -->
        <!-- Features -->
        <partial name="_Features" />
        <!-- Features -->
        <!-- Exchange Rates Table & Currency Converter -->
        <partial name="ExchangeRates" />
        <!-- Exchange Rates Table & Currency Converter -->
        <!-- FAQ Slider -->
        <partial name="_FAQ" />
        <!-- FAQ Slider -->
        <!-- Enquire Us -->
        <partial name="_EnquireUs" />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-@TempData["MsgType"]" style="text-align: center;align-items:center">
                @TempData["Message"]
            </div>
        }
        <!-- Enquire Us -->
        <!-- Comapny Details & Footer -->
        <partial name="_Footer" />
        <!-- Comapny Details & Footer -->
    }
}


@section Scripts{
<script src="~/js/DatatablesJS/ExchangeRates.js"></script>
<script src="~/js/LoadSlider.js"></script>
}
