@using System.Data;
@model DataTable;

<div class="container">

    @if (TempData["BestorWorst"].Equals("best"))
    {
        <h3>Top 5 Days</h3>
    }
    else
    {
        <h3>Worst 5 Days</h3>
    }

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MsgType"]">
            @TempData["Message"]
        </div>
    }

    <table class='table'>
        <tr>
            @for (int col = 0; col < Model.Columns.Count; col++)
            {
                <th>@Model.Columns[col]</th>
            }
        </tr>


        @for (int row = 0; row < Model.Rows.Count; row++)
        {
            <tr>
                @for (int col = 0; col < Model.Columns.Count; col++)
                {
                    <td>@Model.Rows[row][col]</td>
                }
            </tr>
        }
    </table>
</div>