@model Trip

<form method="post" 
      asp-controller="Travel"
      asp-action="Update" 
      >

   <div class="form-group row">
      <div class="offset-sm-2 col-sm-5" >
         <h2>Update Trip Highlight</h2>
      </div>
   </div>

   <input type="text" asp-for="Id" hidden />
   <input type="text" asp-for="Picture" hidden />

   <div class="form-group row">
      <div class="offset-sm-2 col-sm-5">
         <img id="ImgPhoto" src="/Photos/@Model.Picture" style="width:400px;" />
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" for="Title">Title :</label>
      <div class="col-sm-5">
         <input type="text" asp-for="Title" class="form-control" />
      </div>
      <div class="col-sm-4">
         <span asp-validation-for="Title" class="text-danger"></span>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" for="City">City :</label>
      <div class="col-sm-5">
         <input type="text" asp-for="City" class="form-control" />
      </div>
      <div class="col-sm-4">
         <span asp-validation-for="City" class="text-danger"></span>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" for="Date">Trip Date :</label>
      <div class="col-sm-5">
         <input type="text" asp-for="TripDate" asp-format="{0:yyyy-MM-dd}"
                class="form-control" placeholder="YYYY-MM-DD" />
      </div>
      <div class="col-sm-4">
         <span asp-validation-for="TripDate" class="text-danger"></span>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" for="Duration">Length (in Days) :</label>
      <div class="col-sm-5">
         <input type="text" asp-for="Duration" class="form-control" />
      </div>
      <div class="col-sm-4">
         <span asp-validation-for="Duration" class="text-danger"></span>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" for="Cost">Total Cost :</label>
      <div class="col-sm-5">
         <input type="text" asp-for="Spending" class="form-control" />
      </div>
      <div class="col-sm-4">
         <span asp-validation-for="Spending" class="text-danger"></span>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" for="Story">Detailed Story :</label>
      <div class="col-sm-5">
         <textarea asp-for="Story" rows="8" cols="20" class="form-control"></textarea>
      </div>
      <div class="col-sm-4">
         <span asp-validation-for="Story" class="text-danger"></span>
      </div>
   </div>

   <div class="form-group row">
      <div class="offset-sm-2 col-sm-5">
         <input type="submit" value="Update" class="btn btn-primary" /><br />
      </div>
   </div>

   @if (ViewData["Message"] != null)
    {
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-5">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }
</form>

