<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #A5FFFF;">
    <a class="navbar-brand" asp-controller="Currency" asp-action="ExchangeRates">
        Money Exchanger <i class="fas fa-money-bill-wave"></i>
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link navStyle" asp-controller="Enquiries" asp-action="FAQ"><i class="fas fa-question-circle"></i> FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navStyle" asp-controller="Enquiries" asp-action="Enquire"><i class="fas fa-question"></i> Enquire Us</a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link navStyle" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li>
            &nbsp;&nbsp;&nbsp;
        </li>
    </ul>
</nav>


