<nav id="nav1" class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom_nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Kaching<b>xpress</b><i class="bi bi-currency-exchange"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHome" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyExchangeRates">Exchange Rates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyCalc">Calculate yourself!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyFAQs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyEnquireUs">Send an enquiry!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyContact">Contact Us</a>
          </li>
        </ul>
        <div class="d-flex ms-auto">
          <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-outline-dark">Login</a>
        </div>
      </div>
    </div>
</nav>