<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Money Exchanger</title>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/css/flag-icons.min.css" integrity="sha512-UwbBNAFoECXUPeDhlKR3zzWU3j8ddKIQQsDOsKhXQGdiB5i3IHEXr9kXx82+gaHigbNKbTDp3VY/G6gZqva6ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <script src="~/lib/jquery/jquery.min.js"></script>
   <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
   <script src="~/lib/jquery/jquery.validate.min.js"></script>
   <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

   <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
   <link href="~/lib/font-awesome/css/brands.min.css" rel="stylesheet" />
   <link href="~/lib/font-awesome/css/solid.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" asp-append-version="true">
   <link rel="stylesheet" href="~/lib/bootswatch/bootswatchTheme.css" asp-append-version="true"/>
   <link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
   
</head>
<body>
   @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
   {
        <partial name="_Admin" />
   }
   else if(User.Identity.IsAuthenticated && User.IsInRole("staff"))
   {
       <partial name="_Staff" />
   }
   else
   {
      <partial name="_Guest" /> // Guest Users
   }

   <div class="container mt-10">
      @RenderBody()
   </div>

   <script src="~/lib/jquery/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="https://cdn.tiny.cloud/1/4j2rczt398rtvn1rrrso7ya9evd9g9pl45rppj66zzrpo97o/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


