<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Top or Worst Currencies</h2>
        </div>

        <form method="post" asp-controller="Report" asp-action="RedirectTrades">

            <div class="col-sm-6">
        <select class="form-control row mb-3" name="BestOrWorst" id="BestOrWorst">
                <option value="">-- Select One</option>
                <option value="Best">Top 5</option>
                <option value="Worst">Worst 5</option>
        </select>
        </div>
        <div class="col-sm-6">
           <input type="submit" id="btn" value="Submit" class="form-control row" 
            asp-controller="Report" asp-action="RedirectTrades"/>
      </div>
        </form>
    </div>
    </div>

<br /><br />