@{
   Layout = "_Candidate";
}

@model Candidate
<form asp-controller="Candidate" 
      asp-action="Create"
      method="post" enctype="multipart/form-data">

   <div class="form-group row">
      <div class="offset-sm-2 col-sm-4">
         <h2>New Candidate</h2>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="RegNo">Reg# :</label>
      <div class="col-sm-4">
         <input asp-for="RegNo" class="form-control" />
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="CName">Name :</label>
      <div class="col-sm-4">
         <input asp-for="CName" class="form-control" />
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="Height">Height :</label>
      <div class="col-sm-4">
         <input asp-for="Height" class="form-control" />
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="BirthDate">BirthDate :</label>
      <div class="col-sm-4">
         <input type="text" asp-for="BirthDate" class="form-control" placeholder="YYYY-MM-DD" />
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="Gender">Gender:</label>
      <div class="col-sm-4">
         <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="rbfemale" 
                   asp-for="Gender" value="F" />
            <label class="form-check-label" for="rbfemale">Female</label>
         </div>
         <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="rbmale" 
                   asp-for="Gender" value="M" />
            <label class="form-check-label" for="rbmale">Male</label>
         </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="Race">Race:</label>
      <div class="col-sm-4">
         <select asp-for="Race" class="form-control">
            <option value="">-- Select --</option>
            <option value="CH">Chinese</option>
            <option value="MA">Malay </option>
            <option value="IN">Indian</option>
            <option value="OT">Others</option>
         </select>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="Clearance">Clearance:</label>
      <div class="col-sm-4">
         <div class="form-check">
            <input type="checkbox" class="form-check-input" 
                   asp-for="Clearance" />
            <label class="form-check-label" asp-for="Clearance">
               Completed
            </label>
         </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="control-label col-sm-2" asp-for="Photo">Photo:</label>
      <div class="col-sm-4">
         <input type="file" asp-for="Photo" class="form-control-file" />
      </div>
   </div>

   <div class="form-group row">
      <div class="offset-sm-2 col-sm-4">
         <input type="submit" value="Add" class="btn btn-primary" />
      </div>
   </div>

   <div class="form-group row">
      <div class="offset-sm-2 col-sm-4">
         <div asp-validation-summary="All" class="text-danger"></div>
      </div>
   </div>

   @if (ViewData["Message"] != null)
   {
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-4">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }
</form>


