@model Stock
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Stocks Owned</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Wallet" asp-action="AddaCurrency" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddCurrencyModal">
                <i class="bi bi-plus-circle"></i> &nbsp; Add a Currency
            </a>
        </div>
    </div>
    <br/><br/>

<table id="AWalltbl" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ISO</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
</div>

@if (ViewData["Message"] != null)
  {
      <div class="form-group row">
         <div class="offset-sm-2 col-sm-6">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }

   <partial name="AddaCurrency" />

@section Scripts{
    <script src="~/js/OwnerWallet.js"></script>
}

