@using MoneyExchangeWebApp.Models;
@model Enquiry
<br />
<h2 style="text-align: center;">Have a Question? Feel free to enquire us about it!</h2>
<br />

<form asp-controller="Enquiries"
      asp-action="Enquire"
      method="post">

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Visitor_email_address">Email :</label>
        <div class="col-sm-4">
            <input asp-for="Visitor_email_address" class="form-control" type="email"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Description">Enquiry :</label>
        <div class="col-sm-5">
            <input asp-for="Description" class="form-control" />
        </div>
    </div>

    <input asp-for="Enquiry_date" value=@DateTime.Now hidden />
    <input asp-for="Status" hidden value=0 />
    <input asp-for="Answered_by" value=@null hidden />
    <input asp-for="Deleted" value=0 hidden />
    <input asp-for="Deleted_by" value=@null hidden />


    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    <text>@ViewData["Message"]</text>
                </div>
            </div>
            @ViewData["sql"]
        </div>
    }
</form>
