@model MoneyExchangeWebApp.Models.Enquiry

<h4>Reply To Enquiry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReplyToEnquiry">

            <input type="text" asp-for="Enquiry_id" hidden />
            <input type="text" asp-for="Enquiry_date" hidden />

            <div class ="form-floating mb-3">
                <input type="text" class="form-control" id="VisitorEmailInput" asp-for="Visitor_email_address" disabled>
                <label for="VisitorEmailInput">To</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingTextarea1" style="height: 100px" asp-for="Description" disabled></textarea>
              <label for="floatingTextarea1">User Reply</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2">Your Reply</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllEnquiries">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
