@using MoneyExchangeWebApp.Models;
@model List<DepWithTransactions>

    <div class="container py-sm-5">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Transaction List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-action="CreateConvTransaction" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create new Transaction
                </a>
            </div>
    </div>
    <br/><br/>

        <div class="row py-5">
            <div class="col-sm-15 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-sm-10 bg-white rounded">
                        <div class="table-responsive">
                            <table id="trtable"  class="table table-hover table-responsive" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Transaction Type</th>
                                        <th>ISO</th>
                                        <th>Done by</th>
                                        <th>Exchange Rate</th>
                                        <th>Date</th>
                                        <th>Created By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>                                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script src="~/js/ConvTransaction.js"></script>
}