<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/Currency/Index">Currency</a>

    <!-- Hamburger Menu -->
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/Currency/Currency" class="nav-link">View Currency</a>
            </li>
            <li class="nav-item">
                <a href="/Currency/CurrencyAdd" class="nav-link">Add Currency</a>
            </li>
            <li class="nav-item">
            <a href="/Currency/CurrencyDelete" class="nav-link">Delete Currency</a>
            </li>

            @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                   href="#" id="navbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Currency
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Views/Currency">View All</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Views/CurrencyAdd">Add Currency</a>
                    <a class="dropdown-item" href="/Views/CurrencyDelete">Delete Currency</a>
                </div>
            </li>*@
        </ul>
    </div>
</nav>
<div>&nbsp;</div>
