@using System.Data
@model DataTable

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Currency</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    @await Html.PartialAsync("CurrencyNavBar")

    <div class="container">
        <h3>All Currencies</h3>

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-@TempData["MsgType"]">
                @TempData["Message"]
            </div>
        }

        <table class="table table-bordered table-hover table-striped">
            <tr>
                @for (int col = 0; col < Model.Columns.Count; col++)
                {
                    <th>@Model.Columns[col]</th>
                }
            </tr>

            @for (int row = 0; row < Model.Rows.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.Columns.Count; col++)
                    {
                        <td>@Model.Rows[row][col]</td>
                    }
                </tr>
            }
        </table>
    </div>


</body>
</html>
