@using MoneyExchangeWebApp.Models;
@model Enquiry
<br />
<h2 style="text-align: center;">Have a Question? Feel free to enquire us about it!</h2>
<br />

<form asp-controller="Enquiry"
      asp-action="Enquire"
      method="post">

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="EmailAddress">Email :</label>
        <div class="col-sm-4">
            <input asp-for="EmailAddress" class="form-control" type="email"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Subject">Subject :</label>
        <div class="col-sm-5">
            <input asp-for="Subject" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Question">Enquiry :</label>
        <div class="col-sm-5">
            <input asp-for="Question" class="form-control" />
        </div>
    </div>


    <input asp-for="EnquiryDate" value=@DateTime.Now hidden />
    <input asp-for="Status" value="pending" hidden/>
    <input asp-for="Answer" value=@null hidden />
    <input asp-for="AnsweredBy" value=@null hidden />
    <input asp-for="AnswerDate" value=@null hidden />


    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    <text>@ViewData["Message"]</text>
                </div>
            </div>
            @ViewData["sql"]
        </div>
    }
</form>
