@model MoneyExchangeWebApp.Models.Enquiry

<form method="post" 
      asp-controller="Enquiry"
      asp-action="EnquiryReply" 
      enctype="multipart/form-data">
      

   <div class="border p-3 mt-4">
      <div class="row pb-2" >
         <h2>Reply Enquiry!</h2>
      </div>
      <hr />

   <input type="text" asp-for="EnquiryId" />

   <div class="row g-2 mb-3">
     <div class="col-md">
       <div class="form-floating">
        <input type="text" class="form-control" placeholder="Email Address" asp-for="EmailAddress" readonly>
        <label asp-for="EmailAddress">Visitor Email</label>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
      </div>
     </div>
     <div class="col-md">
       <div class="form-floating">
         <input type="text" class="form-control" placeholder="Subject" asp-for="Subject" readonly>
         <label asp-for="Subject">Subject</label>
         <span asp-validation-for="Subject" class="text-danger"></span>
       </div>
     </div>
   </div>

   <div>
       <h4>Enquiry</h4>
   </div>

   <div class="form-floating row g-2 mb-3">
        <textarea readonly class="form-control" id="floatingTextarea1" asp-for="Question" style="height: 100px" ></textarea>
        <label for="floatingTextarea2">Question</label>
   </div>

    <input type="datetime" asp-for="EnquiryDate" />
    <input type="text" asp-for="Status"/>
    <hr />

    <div>
       <h4>Your Reply</h4>
   </div>

   <div class="form-floating row g-2 mb-3">
        <textarea class="form-control" id="floatingTextarea2" asp-for="Answer" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Your Reply</label>
        <span asp-validation-for="Answer" class="text-danger"></span>
   </div>

    <input asp-for="AnsweredBy" value=@User.Identity.Name />
    <input asp-for="AnswerDate" />


   <div class="btn-group col-sm-12 ">
   <a asp-action="EnquiryIndex" class="btn btn-outline-secondary mx-2">Back to Index</a>
   <input type="submit" value="Send Email" class="btn btn-outline-primary mx-2"/>
   </div>

         <div class="form-group row">
      <div class="offset-sm-2 col-sm-6">
         <div asp-validation-summary="All" class="text-danger"></div>
      </div>
   </div>

   @if (ViewData["Message"] != null)
    {
      <div class="form-group row">
         <div class="ms-auto">
            <div class="alert alert-@ViewData["MsgType"]">
               <text>@ViewData["Message"]</text>
            </div>
         </div>
      </div>
   }
      </div>
</form>

@*@section Scripts{
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      setup: function(ed) {
          if ($('#'+ed.id).prop('readonly')) {
              ed.settings.readonly = true;
          }
      }
    });
  </script>
}*@